body {
  background-color: #282c34;
  color: #fff;
}

a {
  color: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  max-height: 100px;
  pointer-events: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  flex: 1 0 auto;
}

#spinContainer {
  position: absolute;
  padding-bottom: 20px;
}

#processCube {
  width: 200px;
  height: 200px;
}

#results p {
  font-weight: bold;
  margin: 8px 0 15px 0;
  border-bottom: 1px solid;
}

.snippet {
  display: flex;
  /* flex-direction: column; */
  /* margin-right: 2%; */
  /* flex: 1; */
  /* justify-content: flex-end; */
  color: #e79f23;
  /* text-align: right; */
  font-weight: bold;
}

.snippet p {
  /* margin-right: 30px; */
}

.snippet a {
  display: flex;
  justify-content: flex-end;
}



#fpInfo {
  background-color: rgba(0,0,0,0.9);
  border-radius: 15px;
  max-width: 400px;
  padding: 20px;
  font-size: 1.2em;
  border: 2px solid rgba(255, 255, 255, 0.8);
}

#fpInfo h2 {
  border-bottom: 1px solid;
  padding-left: 5px;
}

#fpInfo a {
  color: #e79f23;
}

#fpInfo li {
  padding: 0 0 20px 0;
}

.clickTarget {
  cursor: pointer;
}

#underDrop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7em;
  background-color: rgba(0,0,0,0.2);
  border-radius: 0 0 15px 15px;
  padding: 0 15px;
}

#switchStation {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
}

#switchStation p {
  padding-right: 10px;
}

.photo-box {
  padding: 20px;
  border-width: 5px;
  border-color: #02bbd7;
  border-style: dashed;
}

.dropped-photo {
  height: 400px;
  max-width: 100%;
}

#predictions {
  min-height: 100px;
  margin-bottom: 20px;
}

#predictions ul {
  list-style-type: none;
  padding-right: 10%;
  margin-top: -2%;
  margin-left: -2%;
}

#predictions ul li {
  font-size: 0.8em;
  color: #e79f23;
}

header, footer {
  align-items: center;
  background-color: #000;
  display: flex;
}

header {
  justify-content: space-between;
  padding: 0 50px;
}

.test {
  max-width: 1300px;
  border: 1px solid salmon;
  width: 100vw;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
}

header h1 {
  font-style: italic;
  font-size: 2em;
}

#tflogo {
  width: auto;
  height: 40px;
}

footer {
  bottom: 0;
  flex-wrap: wrap;
  font-size: .875em;
  font-weight: 600;
  justify-content: center;
  position: relative;
  text-transform: uppercase;
  width: 100vw;
}

footer div {
  display: inline-block;
  margin: 15px 30px;
}

footer a {
  text-decoration: none;
}
footer a:hover {
  color: #e79f23;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
  .snippet {
    visibility: hidden;
    display: none;
  }

  #switchStation {
    padding-right: 5px;
  }

  #topMessage:after {
    content: ' - On mobile tap to add'
  }

  #predictions {
    padding-top: 10px;
  }
}
